/* --------------------------------------------------
   Estilo del canvas
-------------------------------------------------- */
#lienzo {

    /* Relleno (color de fondo) café claro */
    background-color: #ec86e0;

    /* Borde café oscuro */
    border: 3px solid #b449e6;

    /* Esquinas redondeadas */
    border-radius: 15px;

    /* Sombra */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);

    

}