#lienzo {

    /* Relleno (color de fondo) café claro */
    background-color: #f06bb4;

    /* Borde café oscuro */
    border: 3px solid #85643d;

    /* Esquinas redondeadas */
    border-radius: 15px;

    /* Sombra */
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.35);

    

}